server:
  error:
    include-stacktrace: never

spring:
  jpa:
    hibernate:
      ddl-auto: create
      show-sql: true
  datasource:
    url: jdbc:mysql://localhost:3306/school-db?createDatabaseIfNotExist=true
    username: root
    password: password



